@page "/RegistrarVacunado"
@using Tarea8_App.Models
@using System.Data.SqlClient
@using Microsoft.Data.Sqlite
@using Microsoft.EntityFrameworkCore
@inject HttpClient Http;

<h2>Registrar Vacunado</h2>
<br>
<div style="border-radius: 20px; background-color: rgb(222, 222, 222)">
    <center>
        <h3> <strong> Formulario de Vacunacion </strong> </h3> <br>
        <p> <strong> Cedula </strong> <input type="text" @bind-value="@vc.Cedula" style="border-radius: 25px; border-color: rgb(180, 180, 180)"> 

        <button class="btn btn-primary" @onclick="FindPerson" style="background-color: rgb(37, 195, 42); border-color: rgb(37, 195, 42)"> Validar Cedula  </button> </p> 
        <p><h5> <strong>@Mensaje</strong></h5> </p> <br>   
    </center>

    <center>
        <p> <strong> Nombre </strong> <input type="text" @bind-value="@vc.Nombre" style="border-radius: 25px; border-color: rgb(180, 180, 180)" > 

        <strong> Apellido </strong> <input type="text" @bind-value="@vc.Apellido" style="border-radius: 25px; border-color: rgb(180, 180, 180)" >

        <strong> Fecha Nacimiento </strong> <input type="text" @bind-value="@vc.FechaNacimiento" style="border-radius: 25px; border-color: rgb(180, 180, 180)" > </p> <br>

        <p><strong> Signo Zodiacal </strong> <input type="text" @bind-value="@vc.SignoZodiacal" style="border-radius: 25px; border-color: rgb(180, 180, 180)" >

        <strong> Telefono </strong> <input type="text" @bind-value="@vc.Telefono" style="border-radius: 25px; border-color: rgb(180, 180, 180)" > 

        <strong> Provincia </strong> <select name="Pronvicia" @bind="@vc.Provincia" style="border-radius: 25px; border-color: rgb(180, 180, 180)">
            <option value="Azua">Azua</option>
            <option value="Bahoruco">Bahoruco</option>
            <option value="Barahona">Barahona</option>
            <option value="Dajabon">Dajabon</option>
            <option value="Distrito Nacional">Distrito Nacional</option>
            <option value="Duarte">Duarte</option>
            <option value="Elias Pina">Elías Pina</option>
            <option value="El Seibo">El Seibo</option>
            <option value="Espaillat">Espaillat</option>
            <option value="Hato Mayor">Hato Mayor</option>
            <option value="Hermanas Mirabal">Hermanas Mirabal</option>
            <option value="Independencia">Independencia</option>
            <option value="La Altagracia">La Altagracia</option>
            <option value="La Romana">La Romana</option>
            <option value="La Vega">La Vega</option>
            <option value="Maria Trinidad Sánchez">Maria Trinidad Sánchez</option>
            <option value="Monsenor Nouel">Monsenor Nouel</option>
            <option value="Monte Cristi">Monte Cristi</option>
            <option value="Monte Plata">Monte Plata</option>
            <option value="Pedernales">Pedernales</option>
            <option value="Peravia">Peravia</option>
            <option value="Puerto Plata">Puerto Plata</option>
            <option value="Samana">Samana</option>
            <option value="San Cristobal">San Cristobal</option>
            <option value="San Jose de Ocoa">San Jose de Ocoa</option>
            <option value="San Juan">San Juan</option>
            <option value="San Pedro de Macoris">San Pedro de Macoris</option>
            <option value="Sánchez Ramirez">Sánchez Ramirez</option>
            <option value="Santiago">Santiago</option>
            <option value="Santiago Rodríguez">Santiago Rodríguez</option>
            <option value="Santo Domingo">Santo Domingo</option>
            <option value="Valverde">Valverde</option>
        </select> </p> <br>
        <br>

        <p><strong> Marca de Vacuna </strong> <select name="Marca" @bind="@vc.MarcaVacuna" style="border-radius: 25px; border-color: rgb(180, 180, 180)">
        @foreach(var item in @GetVacunas()){
            <option value="@item.Marca">@item.Marca</option>
        }
        </select> </p> <br>
        
        <p><strong> Fecha de 1ra Dosis </strong> <input type="text" @bind-value="@vc.FechaPdosis" style="border-radius: 25px; border-color: rgb(180, 180, 180)" >

        <strong> Fecha de 2da Dosis </strong> <input type="text" @bind-value="@vc.FechaSdosis" style="border-radius: 25px; border-color: rgb(180, 180, 180)" > </p> <br>
        
    </center>

    <center>
        <p> <button class="btn btn-primary" @onclick="AddPerson" style="background-color: rgb(37, 195, 42); border-color: rgb(37, 195, 42)">Registrar Paciente</button>  
        <button class="btn btn-primary" @onclick="Clear" style="background-color: rgb(255, 0, 0); border-color: rgb(255, 0, 0)">Limpiar Resgistro</button> </p>
    </center>
    <br>
</div>

@code{
    // Variables al utilizar en el codigo.
    bool exits;
    string Mensaje;
    int dia, mes;
    string MesString;
    string DiaString;

    // Instancia de la clase del Models Vacunados donde se guardaran los Registro.
    Vacunados vc = new Vacunados();

    // Lista de los vacunados con Where, para saber si existe el registro.
    List<Vacunados> GetVacunados() => new Tarea8Context().Vacunados.Where(v => v.Cedula == vc.Cedula).ToList();

    // Lista la cual se usara para carga los datos del select.
    List<Vacunas> GetVacunas() => new Tarea8Context().Vacunas.ToList();

    // Mapeo del Json de la API.
    public class Root {
        public string Cedula { get; set; }
        public string Nombres { get; set; }
        public string Apellido1 { get; set; }
        public String Apellido2 { get; set; }
        public string FechaNacimiento { get; set; }
        public string LugarNacimiento { get; set; }
        public int IDCategoria { get; set; }
        public string IdSexo { get; set; }
        public string IdEstadoCivil { get; set; }
        public int IdOcupacion { get; set; }
        public int IDNacionalidad { get; set; }
        public int IDMunicipio { get; set; }
        public int IDColegio { get; set; }
        public object IDCausaCancelacion { get; set; }
        public string IDEstatus { get; set; }
        public string EstatusCedulaAzul { get; set; }
        public string CedulaAnterior { get; set; }
        public string mun_ced { get; set; }
        public string seq_ced { get; set; }
        public string ver_ced { get; set; }
        public object V2004 { get; set; }
        public object V2008 { get; set; }
        public object V2012 { get; set; }
        public object V2016 { get; set; }
        public object PLD { get; set; }
        public object PRD { get; set; }
        public object PRSC { get; set; }
        public object PRM { get; set; }
        public object Multiplicador_NombreCompleto { get; set; }
        public object Multiplicador_Cedula { get; set; }
        public object Simpatia_Descripcion { get; set; }
        public object Ilocalizable { get; set; }
        public object Apodo { get; set; }
        public object PadronLF { get; set; }
        public bool ok { get; set; }
        public string foto { get; set; }
    }

    // Instancia de la clase del Mapeo del Json.
    Root Persona = new Root();

    // Metodos para Buscar y validar la cedula a traves de la API.
    async Task FindPerson(){
        // cargando variable con el Json de la API.
        Persona = await Http.GetFromJsonAsync<Root>("https://api.adamix.net/apec/cedula/"+vc.Cedula);

        // Condicion para saber que la variable con el Json esta cargada y contiene los datos del cliente
        if(Persona.ok){

            // Con este foreach conocemos si el vacunado ya existe.
            foreach (var item in @GetVacunados()){
                exits = true;
            }

            // Condicion en caso de que la cedula esta registrada.
            if(exits==true){
                Mensaje="Paciente Ya Con la Primera Vacuna!";

                // Conexion manual a la base de datos para el metodo raw de guardar la segunda fecha.
                SqliteConnection cone;

                // connetion string.
                cone = new SqliteConnection(@"Data Source= Data//Tarea6.db");

                // Abriendo la conexion.
                cone.Open();

                // Cargando la variable con el dato que se va a guardar.
                vc.FechaSdosis = DateTime.Now.ToString("yyyy-MM-dd");

                // Sentencia de sql para el proceso de update.
                var query = "UPDATE Vacunados SET Fecha_SDosis = '"+vc.FechaSdosis+"' Where Cedula =" + vc.Cedula;

                // Creando nuevo comando al cual le pasamos la conexion y la sentencia.
                SqliteCommand command = new SqliteCommand(query, cone);

                using (Tarea8Context cmd_SegundaDosis = new Tarea8Context())
                {
                    // Ejecutar sentencia.
                    cmd_SegundaDosis.Database.ExecuteSqlRaw(query, vc.Cedula);
                }

                // Cerrando la conexion
                cone.Close();

                // Mensaje del estado del proceso.
                Mensaje="El Paciente ya estaba Registrado, por lo Cual se le registro la Segunda Dosis!";
                // Llamada al metodo para restar la cedula.

            }
            // De caso contrario se le cargaran estos datos a las variables.
            else{
                vc.Nombre = Persona.Nombres;
                vc.Apellido = Persona.Apellido1 + " " + Persona.Apellido2;
                vc.FechaNacimiento = Persona.FechaNacimiento.Substring(0,10);
                vc.FechaPdosis = DateTime.Now.ToString("yyyy-MM-dd");

                //Cargando en variables los contenidos de la fecha.
                MesString =Persona.FechaNacimiento.Substring(5,2);
                mes = int.Parse(MesString);
                DiaString =Persona.FechaNacimiento.Substring(8,2);
                dia = int.Parse(DiaString);

                //Con esos contenidos los analizaremos para saber cual es su Signo Zodiacal.
                if((dia>=21&&mes==3)||(dia<=20&&mes==4)){
                    vc.SignoZodiacal =  "Aries";
                }

                else if((dia>=24&&mes==9)||(dia<=23&&mes==10)){
                    vc.SignoZodiacal =  "Libra";
                }

                else if((dia>=21&&mes==4)||(dia<=21&&mes==5)){
                    vc.SignoZodiacal = "Tauro";
                }

                else if((dia>=24&&mes==10)||(dia<=22&&mes==11)){
                    vc.SignoZodiacal = "Escorpio";
                }

                else if((dia>=22&&mes==5)||(dia<=21&&mes==6)){
                    vc.SignoZodiacal = "Geminis";
                }

                else if((dia>=23&&mes==11)||(dia<=21&&mes==12)){
                    vc.SignoZodiacal = "Sagitario";
                }

                else if((dia>=21&&mes==6)||(dia<=23&&mes==7)){
                    vc.SignoZodiacal = "Cancer";
                }

                else if((dia>=22&&mes==12)||(dia<=20&&mes==1)){
                    vc.SignoZodiacal = "Capricornio";
                }

                else if((dia>=24&&mes==7)||(dia<=23&&mes==8)){
                    vc.SignoZodiacal = "Leo";
                }

                else if((dia>=21&&mes==1)||(dia<=19&&mes==2)){
                    vc.SignoZodiacal = "Acuario";
                }

                else if((dia>=24&&mes==8)||(dia<=23&&mes==9)){
                    vc.SignoZodiacal = "Virgo";
                }

                else if((dia>=20&&mes==2)||(dia<=20&&mes==3)){
                    vc.SignoZodiacal = "Piscis";
                }

                // Llamada a metodo Restar Vacuna.
                //RestarVacuna();

            }
        }
        // De caso contrario que no se encuentre datos se mostrara este mensaje.
        else{
            Mensaje="Cedula No Encontrada...";
        }
    }

    // Metodo para registrar registrados.
    void AddPerson(){
        using (Tarea8Context cmd_Insert = new Tarea8Context())
        {
            if(vc.Cedula == null){
                Mensaje="Debe Lenar el Campo Cedula!";

            }
            else{
                cmd_Insert.Add(vc);
                RestarVacuna();
                cmd_Insert.SaveChanges();
                Clear();
                Mensaje="Paciente Vacunado!";
            }
        }
    }

    // Metodo para limpiar los campos.
    void Clear(){
        vc.Cedula = null;
        vc.Nombre = "";
        vc.Apellido = "";
        vc.FechaNacimiento = "";
        vc.Provincia = "";
        vc.SignoZodiacal = "";
        vc.Telefono = "";
        vc.FechaPdosis="";
        vc.FechaSdosis="";
        vc.MarcaVacuna="";
        Mensaje = "";

    }

    // Metodo Para restar las Vacunas.
    void RestarVacuna(){
        // Conexion manual a la base de datos para restar vacuna del inventario.
        SqliteConnection con;

        // connetion string.
        con = new SqliteConnection(@"Data Source= Data//Tarea6.db");

        // Abriendo la conexion.
        con.Open();

        // Sentencia de sql para el proceso de update.
        var query = "UPDATE Vacunas SET Cantidad = Cantidad - 1 WHERE Marca = '"+vc.MarcaVacuna+"'";

        // Creando nuevo comando al cual le pasamos la conexion y la sentencia.
        SqliteCommand commandd = new SqliteCommand(query, con);

        using (Tarea8Context cmd_Inventario = new Tarea8Context())
        {
            // Ejecutar sentencia.
            cmd_Inventario.Database.ExecuteSqlRaw(query, vc.MarcaVacuna);
        }

        // Cerrando la conexion
        con.Close();

        // Mensaje del estado del proceso.
        Mensaje = "Inventario actualizado";
    }

}
