@page "/VacunadosProvincia"
@using Tarea8_App.Models;
@using Microsoft.EntityFrameworkCore;
<h2>Listado de vacunados por provincia</h2>

@foreach (var v in GetVacunados())
{
    switch (v.Provincia)
    {
        case "Azua":
            azua += 1;
            break;
        case "Bahoruco":
            bahoruco += 1;
            break;
        case "Barahona":
            barahona += 1;
            break;
        case "Dajabon":
            dajabon += 1;
            break;
        case "Distrito Nacional":
            dn += 1;
            break;
        case "Duarte":
            duarte += 1;
            break;
        case "Elías Pina":
            eliaspina += 1;
            break;
        case "El Seibo":
            elseibo += 1;
            break;
        case "Espaillat":
            espaillat += 1;
            break;
        case "Hato Mayor":
            hatomayor += 1;
            break;
        case "Hermanas Mirabal":
            hermanasmirabal += 1;
            break;
        case "Independencia":
            independencia += 1;
            break;
        case "La Altagracia":
            laaltagracia += 1;
            break;
        case "La Romana":
            laromana += 1;
            break;
        case "La Vega":
            lavega += 1;
            break;
        case "Maria Trinidad Sánchez":
            mariatrinidadsan += 1;
            break;
        case "Monsenor Nouel":
            monsenornouel += 1;
            break;
        case "Monte Cristi":
            montecristi += 1;
            break;
        case "Monte Plata":
            monteplata += 1;
            break;
        case "Perdernales":
            pedernales += 1;
            break;
        case "Peravia":
            peravia += 1;
            break;
        case "Puerto Plata":
            puertoplata += 1;
            break;
        case "Samana":
            samana += 1;
            break;
        case "San Critobal":
            sancristobal += 1;
            break;
        case "San Jose de Ocoa":
            sanjosedeocoa += 1;
            break;
        case "San Juan":
            sanjuan += 1;
            break;
        case "San Pedro de Macoris":
            sanpedro += 1;
            break;
        case "Sánchez Ramirez":
            sanchezram += 1;
            break;
        case "Santiago":
            santiago += 1;
            break;
        case "Santiago Rodríguez":
            santiagorodri += 1;
            break;
        case "Santo Domingo":
            sd += 1;
            break;
        case "Valverde":
            valverde += 1;
            break;
    }
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre de Provincia</th>
            <th>Numero de personas</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Azua</th>
            <th>@azua</th>
        </tr>
        <tr>
            <th>Bahoruco</th>
            <th>@bahoruco</th>
        </tr>
        <tr>
            <th>Barahona</th>
            <th>@barahona</th>
        </tr>
        <tr>
            <th>Dajabon</th>
            <th>@dajabon</th>
        </tr>
        <tr>
            <th>Distrito Nacional</th>
            <th>@dn</th>
        </tr>
        <tr>
            <th>Duarte</th>
            <th>@duarte</th>
        </tr>
        <tr>
            <th>Elías Pina</th>
            <th>@eliaspina</th>
        </tr>
        <tr>
            <th>El Seibo</th>
            <th>@elseibo</th>
        </tr>
        <tr>
            <th>Espaillat</th>
            <th>@espaillat</th>
        </tr>
        <tr>
            <th>Hato Mayor</th>
            <th>@hatomayor</th>
        </tr>
        <tr>
            <th>Hermanas Mirabal</th>
            <th>@hermanasmirabal</th>
        </tr>
        <tr>
            <th>Independencia</th>
            <th>@independencia</th>
        </tr>
        <tr>
            <th>La Altagracia</th>
            <th>@laaltagracia</th>
        </tr>
        <tr>
            <th>La Romana</th>
            <th>@laromana</th>
        </tr>
        <tr>
            <th>La Vega</th>
            <th>@lavega</th>
        </tr>
        <tr>
            <th>Maria Trinidad Sánchez</th>
            <th>@mariatrinidadsan</th>
        </tr>
        <tr>
            <th>Monsenor Nouel</th>
            <th>@monsenornouel</th>
        </tr>
        <tr>
            <th>Monte Cristi</th>
            <th>@montecristi</th>
        </tr>
        <tr>
            <th>Monte Plata</th>
            <th>@monteplata</th>
        </tr>
        <tr>
            <th>Pedernales</th>
            <th>@pedernales</th>
        </tr>
        <tr>
            <th>Peravia</th>
            <th>@peravia</th>
        </tr>
        <tr>
            <th>Puerto Plata</th>
            <th>@puertoplata</th>
        </tr>
        <tr>
            <th>Samana</th>
            <th>@samana</th>
        </tr>
        <tr>
            <th>San Cristobal</th>
            <th>@sancristobal</th>
        </tr>
        <tr>
            <th>San Jose de Ocoa</th>
            <th>@sanjosedeocoa</th>
        </tr>
        <tr>
            <th>San Juan</th>
            <th>@sanjuan</th>
        </tr>
        <tr>
            <th>San Pedro de Macoris</th>
            <th>@sanpedro</th>
        </tr>
        <tr>
            <th>Sánchez Ramirez</th>
            <th>@sanchezram</th>
        </tr>
        <tr>
            <th>Santiago</th>
            <th>@santiago</th>
        </tr>
        <tr>
            <th>Santiago Rodríguez</th>
            <th>@santiagorodri</th>
        </tr>
        <tr>
            <th>Santo Domingo</th>
            <th>@sd</th>
        </tr>
        <tr>
            <th>Valverde</th>
            <th>@valverde</th>
        </tr>
    </tbody>

    <!--
    <tbody>
        <tr>
            <th>Azua</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Azua")
                {
                    int azua = 0;
                    azua = azua + 1;
                    <th>@azua</th>
                }
            }
        </tr>
        <tr>
            <th>Bahoruco</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Bahoruco")
                {
                    int bahoruco = 0;
                    bahoruco++;
                    <th>@bahoruco</th>
                }
            }
        </tr>
        <tr>
            <th>Barahona</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Barahona")
                {
                    int barahona = 0;
                    barahona++;
                    <th>@barahona</th>
                }
            }
        </tr>
        <tr>
            <th>Dajabon</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Dajabon")
                {
                    int dajabon = 0;
                    dajabon++;
                    <th>@dajabon</th>
                }
            }
        </tr>
        <tr>
            <th>Distrito Nacional</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Distrito Nacional")
                {
                    int dn = 0;
                    dn = dn + 1;
                    <th>@dn</th>
                }
            }
        </tr>
        <tr>
            <th>Duarte</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Duarte")
                {
                    int duarte = 0;
                    duarte++;
                    <th>@duarte</th>
                }
            }
        </tr>
        <tr>
            <th>Elías Pina</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Elías Pina")
                {
                    int ep = 0;
                    ep++;
                    <th>@ep</th>
                }
            }
        </tr>
        <tr>
            <th>El Seibo</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "El Seibo")
                {
                    int seibo = 0;
                    seibo++;
                    <th>@seibo</th>
                }
            }
        </tr>
        <tr>
            <th>Espaillat</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Espaillat")
                {
                    int espaillat = 0;
                    espaillat++;
                    <th>@espaillat</th>
                }
            }
        </tr>
        <tr>
            <th>Hato Mayor</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Hato Mayor")
                {
                    int hm = 0;
                    hm++;
                    <th>@hm</th>
                }
            }
        </tr>
        <tr>
            <th>Hermanas Mirabal</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Hermanas Mirabal")
                {
                    int herm = 0;
                    herm++;
                    <th>@herm</th>
                }
            }
        </tr>
        <tr>
            <th>Independencia</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Independencia")
                {
                    int independencia = 0;
                    independencia++;
                    <th>@independencia</th>
                }
            }
        </tr>
        <tr>
            <th>La Altagracia</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "La Altagracia")
                {
                    int altagracia = 0;
                    altagracia++;
                    <th>@altagracia</th>
                }
            }
        </tr>
        <tr>
            <th>La Romana</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "La Romana")
                {
                    int romana = 0;
                    romana++;
                    <th>@romana</th>
                }
            }
        </tr>
        <tr>
            <th>La Vega</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "La Vega")
                {
                    int vega = 0;
                    vega++;
                    <th>@vega</th>
                }
            }
        </tr>
        <tr>
            <th>Maria Trinidad Sánchez</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Maria Trinidad Sánchez")
                {
                    int mts = 0;
                    mts++;
                    <th>@mts</th>
                }
            }
        </tr>
        <tr>
            <th>Monsenor Nouel</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Monsenor Nouel")
                {
                    int mn = 0;
                    mn++;
                    <th>@mn</th>
                }
            }
        </tr>
        <tr>
            <th>Monte Cristi</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Monte Cristi")
                {
                    int mc = 0;
                    mc++;
                    <th>@mc</th>
                }
            }
        </tr>
        <tr>
            <th>Monte Plata</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Monte Plata")
                {
                    int mp = 0;
                    mp++;
                    <th>@mp</th>
                }
            }
        </tr>
        <tr>
            <th>Pedernales</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Pedernales")
                {
                    int pedernales = 0;
                    pedernales++;
                    <th>@pedernales</th>
                }
            }
        </tr>
        <tr>
            <th>Peravia</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Peravia")
                {
                    int peravia = 0;
                    peravia++;
                    <th>@peravia</th>
                }
            }
        </tr>
        <tr>
            <th>Puerto Plata</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Puerto Plata")
                {
                    int pp = 0;
                    pp++;
                    <th>@pp</th>
                }
            }
        </tr>
        <tr>
            <th>Samana</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Samana")
                {
                    int samana = 0;
                    samana++;
                    <th>@samana</th>
                }
            }
        </tr>
        <tr>
            <th>San Cristobal</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "San Cristobal")
                {
                    int sc = 0;
                    sc++;
                    <th>@sc</th>
                }
            }
        </tr>
        <tr>
            <th>San Jose de Ocoa</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "San Jose de Ocoa")
                {
                    int sjo = 0;
                    sjo++;
                    <th>@sjo</th>
                }
            }
        </tr>
        <tr>
            <th>San Juan</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "San Juan")
                {
                    int sj = 0;
                    sj++;
                    <th>@sj</th>
                }
            }
        </tr>
        <tr>
            <th>San Pedro de Macoris</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "San Pedro de Macoris")
                {
                    int spm = 0;
                    spm++;
                    <th>@spm</th>
                }
            }
        </tr>
        <tr>
            <th>Sánchez Ramirez</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Sánchez Ramirez")
                {
                    int sr = 0;
                    sr++;
                    <th>@sr</th>
                }
            }
        </tr>
        <tr>
            <th>Santiago</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Santiago")
                {
                    int santiago = 0;
                    santiago++;
                    <th>@santiago</th>
                }
            }
        </tr>
        <tr>
            <th>Santiago Rodríguez</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Santiago Rodríguez")
                {
                    int sr = 0;
                    sr++;
                    <th>@sr</th>
                }
            }
        </tr>
        <tr>
            <th>Santo Domingo</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Santo Domingo")
                {
                    int sd = 0;
                    sd++;
                    <th>@sd</th>
                }
            }
        </tr>
        <tr>
            <th>Valverde</th>
            @foreach (var v in @GetVacunados())
            {
                if (v.Provincia == "Valverde")
                {
                    int valverde = 0;
                    valverde++;
                    <th>@valverde</th>
                }
            }
        </tr>
    </tbody>
        -->


</table>

@code{
    List<Vacunados> GetVacunados() => new Tarea8Context().Vacunados.ToList();

    //Variables de las provincias
    int azua = 0, bahoruco = 0, barahona = 0, dajabon = 0, dn = 0, duarte = 0, eliaspina = 0, elseibo = 0, espaillat = 0;

    int hatomayor = 0, hermanasmirabal = 0, independencia = 0, laaltagracia = 0, laromana = 0, lavega = 0;

    int mariatrinidadsan = 0, monsenornouel = 0, montecristi = 0, monteplata = 0, pedernales = 0, peravia = 0;

    int puertoplata = 0, samana = 0, sancristobal = 0, sanjosedeocoa = 0, sanjuan = 0, sanpedro = 0, sanchezram = 0;

    int santiago = 0, santiagorodri = 0, sd = 0, valverde = 0;
} 