@page "/VacunadosZodiacal"
@using Tarea8_App.Models;
@using Microsoft.EntityFrameworkCore;
<h2>Listado de vacunados por signo zodiacal</h2>

@foreach (var v in GetVacunados())
{
    switch (v.SignoZodiacal)
    {
        case "Aries":
            aries += 1;
            break;
        case "Tauro":
            tauro += 1;
            break;
        case "Geminis":
            geminis += 1;
            break;
        case "Cancer":
            cancer += 1;
            break;
        case "Leo":
            leo += 1;
            break;
        case "Virgo":
            virgo += 1;
            break;
        case "Libra":
            libra += 1;
            break;
        case "Escorpio":
            escorpio += 1;
            break;
        case "Sagitario":
            sagitario += 1;
            break;
        case "Capricornio":
            capricornio += 1;
            break;
        case "Acuario":
            acuario += 1;
            break;
        case "Piscis":
            piscis += 1;
            break;
    }
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Signo Zodiacal</th>
            <th>Numero de personas</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Aries</th>
            <th>@aries</th>
        </tr>
        <tr>
            <th>Tauro</th>
            <th>@tauro</th>
        </tr>
        <tr>
            <th>Geminis</th>
            <th>@geminis</th>
        </tr>
        <tr>
            <th>Cancer</th>
            <th>@cancer</th>
        </tr>
        <tr>
            <th>Leo</th>
            <th>@leo</th>
        </tr>
        <tr>
            <th>Virgo</th>
            <th>@virgo</th>
        </tr>
        <tr>
            <th>Libra</th>
            <th>@libra</th>
        </tr>
        <tr>
            <th>Escorpio</th>
            <th>@escorpio</th>
        </tr>
        <tr>
            <th>Sagitario</th>
            <th>@sagitario</th>
        </tr>
        <tr>
            <th>Capricornio</th>
            <th>@capricornio</th>
        </tr>
        <tr>
            <th>Acuario</th>
            <th>@acuario</th>
        </tr>
        <tr>
            <th>Piscis</th>
            <th>@piscis</th>
        </tr>
    </tbody>
</table>

@code{
    List<Vacunados> GetVacunados() => new Tarea8Context().Vacunados.ToList();

    int aries = 0, tauro = 0, geminis = 0, cancer = 0, leo = 0, virgo = 0, libra = 0, escorpio = 0;
    int sagitario = 0, capricornio = 0, acuario = 0, piscis = 0;
} 